.table{
    margin: 100px auto;
    border: 1px solid black;
    border-collapse: collapse;
}
.column {
    width: 30px;
    height: 30px;
    border:2px solid lightcoral;
    background-color: cadetblue;
}
.column-active{
    background-color: lightcoral;
    border:2px solid cadetblue;
}
.text{
    text-align: center;
    color: darkgrey;
    font-family: sans-serif;
}

